@media (max-width: 640px) {
  main >.header > .title {
    font-size: 3.8rem;
    width: 65rem;
    text-align: center;
  }

  main > section {
    width: 80rem;
    margin: auto;
  }

  main > section > .notices {
    margin-top: 0;
    margin-bottom: 4rem;
    gap: 3rem;
    justify-content: flex-start;
  }

  main > section > .notices > .image {
    width: 13rem;
    height: 13rem;
  }
  
  main > section .notices > .informations > .subtitle {
    width: 45rem;
  }

  main > section > .notices > .informations > .description {
    font-size: 1.5rem;
  }
}