@media (max-width: 640px) {
  main >.header > .title {
    font-size: 3.8rem;
    width: 65rem;
    text-align: center;
  }

  main > section {
    width: 100%;
  }
  
  main > section > .notices {
    margin: 4rem 1.5rem;
    justify-content: flex-start;
  }

  main > section > .notices > .image {
    width: 20rem;
    height: 20rem;
  }
  
  main > section > .notices > .informations > .subtitle.-first,
  main > section > .notices > .informations > .subtitle.-second,
  main > section > .notices > .informations > .subtitle.-third {
    width: 40rem;
  }

  main > section > .notices > .informations > .description {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  main {
    background-color: red;
    font-size: 2rem;
  }
}