body {
  background-color: var(--background-color);
}

main {
  max-width: 1280px;
  margin: auto;
}

.header {
  padding: 3rem 0;
  width: 100%;
}

.header > .seperator {
  margin: 5rem auto 0;
  display: block;
  text-align: center;
}

main > .header > .title {
  width: 50%;
  font-size: 4rem;
  margin: auto;
  text-align: center;
}

main > section {
  width: 90%;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main > section > .notices {
  margin-top: 2rem;
  margin-bottom: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

main > section > .notices.-first {
  margin-top: 0;
}

main > section > .notices > .image {
  border-radius: 2rem;
  width: 20rem;
  height: 20rem;
}

main > section > .notices > .informations {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main > section > .notices > .informations > .subtitle {
  font-size: 2.5rem;
  color: var(--subtitle);
}

main > section > .notices > .informations > .subtitle.-first,
main > section > .notices > .informations > .subtitle.-second,
main > section > .notices > .informations > .subtitle.-third {
  width: 75%;
}

main > section > .notices > .informations > .subtitle.-third {
  margin-bottom: 0;
}

main > section > .notices > .informations > .description {
  color: var(--description);
}